{{> header }}

<div class="navigation-container cont single-post-navigation">
	<nav class="navigation">
		<div class="navigation-inner">
			<div class="left">
				<a href="#header" class="robocat" id="nav-home">
					{{{ img "navigation-robocat-logo.png" }}}
				</a>
			</div>
			<div class="right">
				<a href="#products" id="nav-products">Products</a>
				<a href="#team" id="nav-team">Team</a>
				<a href="//adventures.robo.cat/" id="nav-adventures">Adventures</a>
				<a href="#get-in-touch" id="nav-getintouch">Get in touch</a>
				<a href="#share" id="share-tw" class="twitter">
					{{{ img "navigation-twitter.png" }}}
				</a>
				<a href="#share" id="share-fb" class="facebook">
					{{{ img "navigation-facebook.png" }}}
				</a>
			</div>
		</div>
	</nav>
</div>

<div class="header-container cont single-post-header" id="header-container" style="background-image: url(http://adventures.robo.cat/wp-content/uploads/2015/03/bemyeyes-header.jpg);">
	<header class="post-header int">
		<h1 class="title">Helping the blind see</h1>
		<p class="tagline">Building a non-profit app with Be My Eyes and making a real change in peoples lives.</p>
	</header><!-- /header -->
</div>

<div class="adventures-container cont">
	<div class="adventures int">
		<div class="posts single-post">
				<article id="post-2">
					<hr>

					<p>Bacon ipsum dolor amet chuck alcatra andouille ribeye, shoulder pork meatball. Bresaola ham hock pork loin frankfurter. Porchetta hamburger short loin shoulder, salami picanha cow capicola alcatra biltong pig meatball andouille. Ribeye pancetta tongue, chicken cow frankfurter capicola short loin alcatra ground round beef ribs. Tongue venison tenderloin short loin drumstick, shankle sausage ground round tri-tip rump beef ribs kielbasa biltong chuck. Venison pork hamburger, tongue picanha leberkas beef.</p>

					<blockquote cite="http://example.com/facts">
						<p>It’s not form follows function after all, it’s form follows fun.</p>
					</blockquote>
					<p>Bacon ipsum dolor amet chuck alcatra andouille ribeye, shoulder pork meatball. Bresaola ham hock pork loin frankfurter. Porchetta hamburger short loin shoulder, salami picanha cow capicola alcatra biltong pig meatball andouille. Ribeye pancetta tongue, chicken cow frankfurter capicola short loin alcatra ground round beef ribs. Tongue venison tenderloin short loin drumstick, shankle sausage ground round tri-tip rump beef ribs kielbasa biltong chuck. Venison pork hamburger, tongue picanha leberkas beef.</p>

					<figure id="attachment_146" class="wp-caption alignnone"><img class="wp-image-146 size-full" src="http://blog.appicontemplate.com/wp-content/uploads/2015/02/airport-pickup.jpg" alt="airport-pickup" width="816" height="542"><figcaption class="wp-caption-text">In the airport I was greeted by a driver with my name on a sign. Never tried that before.</figcaption></figure>

					<h2>This is a secondary heading</h2>

					<p>Bacon ipsum dolor amet chuck alcatra andouille ribeye, shoulder pork meatball. Bresaola ham hock pork loin frankfurter. Porchetta hamburger short loin shoulder, salami picanha cow capicola alcatra biltong pig meatball andouille. <strong>Ribeye pancetta</strong> tongue, chicken cow frankfurter capicola short loin alcatra ground round beef ribs. Tongue venison tenderloin short loin drumstick, shankle sausage ground round tri-tip rump beef ribs kielbasa biltong chuck. Venison pork hamburger, tongue picanha leberkas beef.</p>
					<p>Bacon ipsum dolor amet chuck alcatra andouille ribeye, shoulder pork meatball. Bresaola ham hock pork loin frankfurter. Porchetta hamburger short loin shoulder, salami picanha cow capicola alcatra biltong pig meatball andouille. Ribeye pancetta tongue, chicken cow frankfurter capicola short loin alcatra ground round beef ribs. Tongue venison tenderloin short loin drumstick, shankle sausage ground round tri-tip rump beef ribs kielbasa biltong chuck. Venison pork hamburger, tongue picanha leberkas beef.</p>
					<p>Bacon ipsum dolor amet chuck alcatra andouille ribeye, shoulder pork meatball. Bresaola ham hock pork loin frankfurter. Porchetta hamburger short loin shoulder, salami picanha cow capicola alcatra biltong pig meatball andouille. Ribeye pancetta tongue, chicken cow frankfurter capicola short loin alcatra ground round beef ribs. Tongue venison tenderloin short loin drumstick, shankle sausage ground round tri-tip rump beef ribs kielbasa biltong chuck. Venison pork hamburger, tongue picanha leberkas beef.</p>
					<p>Bacon ipsum dolor amet chuck alcatra andouille ribeye, shoulder pork meatball. Bresaola ham hock pork loin frankfurter. Porchetta hamburger short loin shoulder, salami picanha cow capicola alcatra biltong pig meatball andouille. Ribeye pancetta tongue, chicken cow frankfurter capicola short loin alcatra ground round beef ribs. Tongue venison tenderloin short loin drumstick, shankle sausage ground round tri-tip rump beef ribs kielbasa biltong chuck. Venison pork hamburger, tongue picanha leberkas beef.</p>
					<p>Bacon ipsum dolor amet chuck alcatra andouille ribeye, shoulder pork meatball. Bresaola ham hock pork loin frankfurter. Porchetta hamburger short loin shoulder, salami picanha cow capicola alcatra biltong pig meatball andouille. Ribeye pancetta tongue, chicken cow frankfurter capicola short loin alcatra ground round beef ribs. Tongue venison tenderloin short loin drumstick, shankle sausage ground round tri-tip rump beef ribs kielbasa biltong chuck. Venison pork hamburger, tongue picanha leberkas beef.</p>
					<p>Bacon ipsum dolor amet chuck alcatra andouille ribeye, shoulder pork meatball. Bresaola ham hock pork loin frankfurter. Porchetta hamburger short loin shoulder, salami picanha cow capicola alcatra biltong pig meatball andouille. Ribeye pancetta tongue, chicken cow frankfurter capicola short loin alcatra ground round beef ribs. Tongue venison tenderloin short loin drumstick, shankle sausage ground round tri-tip rump beef ribs kielbasa biltong chuck. Venison pork hamburger, tongue picanha leberkas beef.</p>
					<p>Bacon ipsum dolor amet chuck alcatra andouille ribeye, shoulder pork meatball. Bresaola ham hock pork loin frankfurter. Porchetta hamburger short loin shoulder, salami picanha cow capicola alcatra biltong pig meatball andouille. Ribeye pancetta tongue, chicken cow frankfurter capicola short loin alcatra ground round beef ribs. Tongue venison tenderloin short loin drumstick, shankle sausage ground round tri-tip rump beef ribs kielbasa biltong chuck. Venison pork hamburger, tongue picanha leberkas beef.</p>
				</article>

		</div>
	</div>
</div>


{{> footer }}