$lato: "lato", "Helvetica Neue", Helvetica, sans-serif;
$freight: "freight-text-pro", Georgia, serif;

$thin: normal 200 24pt / 1.2 $lato;
$regular: normal 400 14pt / 1.2em $lato;
$black: normal 900 42pt / 1.2em $lato;
$italic: italic 400 14pt / 1.2em $lato;
$bread: normal 400 14pt / 1.2em $freight;
$caption: italic 400 10pt / 1.2em $freight;
$title: normal 700 36pt / 1.2em $freight;

input, textarea, select, button {
  -webkit-font-smoothing: antialiased;
}