$asset-pipeline: true;
$max-width: 1170px;
// $visual-grid: true;
$visual-grid-color: lightblue;
$visual-grid-index: front;
$visual-grid-opacity: 0.1;
$shopify: false;

@import "_normalize";

@import "bourbon";
@import "neat";

@import "_fonts";
@import "_mixins";

@import "sections/_header";
@import "sections/_aboutus";
@import "sections/_apps";
@import "sections/_adventures";
@import "sections/_team";
@import "sections/_newsletter";
@import "sections/_footer";

.cont {
	width: 100%;
}

.int {
	@include outer-container;
}

a {
	text-decoration: none;

	.no-touch &:hover { text-decoration: underline; }
}

h1, h2, h3, h4 {
	font: $black;
}

p, span, a {
	font: $regular;
	-webkit-font-smoothing: antialiased;
}

.button {
	background-position: 0px center;
	background-repeat: no-repeat;

	&.light {
		color: #fff;
	}

	&.dark {
		color: #393939;
	}
}

$themes: "dark" "light";
$buttons: "download" 26px 25px 37px, "website" 20px 20px 28px, "adventure" 20px 24px 27px;
@each $theme in $themes {
	@each $button in $buttons {
		$class: nth($button, 1);
		.button.#{$theme}.#{$class} { 
			padding-left: nth($button, 4);
			@include retina-image("button-#{$class}-#{$theme}", nth($button, 2) nth($button, 3));
		}
	}
}
