.aboutus {
	padding: 130px 10px 0 10px;
	text-align: center;

	p {
		color: #424242;
		display: block;
		font: $bread;
		font-size: 20pt;
		line-height: 28pt;
		margin: 0 auto;
		max-width: 675px;
	}
}