.single-post {
    @include span-columns(9 of 9);
    margin-bottom: 120px;
    padding-left: 60px;
    padding-right: 60px;

    article {
        margin-bottom: 40px;
    }
}

.feed article {
    @include row;
    margin-bottom: 40px;

    .aside { @include span-columns(3 of 12); }
    .content { @include span-columns(9 of 12); @include omega; }

    .post-image img {
        height: auto;
        max-width: 100% !important;

        &:hover { opacity: 0.9; }
    }

    .title, .title a {
        color: #000;
        font: $black;
        font-size: 38pt;
        margin: 0;
    }

    .tagline {
        color: rgb(34, 34, 34);
        font: $bread;
        font-size: 20pt;
        margin: 5px 0 20px 0 ;
    }

    .button {
        color: #393939;
    }
}