.footer-container {
	background-color: rgb(238, 238, 238);
}

.footer {
	padding: 50px 10px;

	.location {
		float: left;

		.map {
			float: left;
			margin-right: 30px;
		}

		.physical {
			float: left;
			padding-top: 40px;
		}

		.company {
			font: $black;
			font-size: 16pt;
			margin: 0px 0 5px 0;
		}

		.address {
			margin: 0;
			color: rgb(130, 130, 130);
			font-size: 12pt;
		}
	}

	.getintouch {
		float: right;

		.button {
			background-position: 0 50%;
			background-repeat: no-repeat;
			display: block;
			color: rgb(45, 43, 39);
			font: $black;
			font-size: 18pt;
			padding: 12px 0;
			padding-left: 58px;

			&.twitter {
				@include retina-image("footer-twitter", 39px 32px);
				background-position: 5px 50%;
			}

			&.facebook {
				@include retina-image("footer-facebook", 24px 41px);
				background-position: 10px 50%;
			}

			&.email {
				@include retina-image("footer-email", 44px 32px);
			}
		}
	}
}

@include media(max-width 670px) {
	.footer {
		.location  {
			@include span-columns(12 of 12);
			text-align: center;

			.map {
				@include span-columns(12 of 12);		
				margin-right: 0;		
			}

			.physical {
				@include span-columns(12 of 12);
				@include omega;
				padding-top: 10px;
			}
		}

		.getintouch {
			@include span-columns(12 of 12);
			@include omega;
			text-align: center;
			margin-top: 30px;
			
			.button {
				display: block;
				margin: 10px auto;
				width: 200px;
				text-align: left;
			}
		}
	}
}