.navigation-container {
	position: relative;
}

.header-container {
	background-size: cover;
	background-position: 50% 50%;
	background-color: #0b0e15;
	position: relative;

	.navigation {
		bottom: 0;
		position: absolute;
		top: auto;
	}
}

.header {
	background-image: image-url("header-background.jpg");
	background-repeat: no-repeat;
	background-position: center 25%;
	color: #fff;
	height: 100%;
	text-align: center;
	
	.cat {
		height: auto;
		max-width: 100%;
		margin-top: 25%;
	}

	.title {
		margin-bottom: 0;
	}

	.tagline {
		font: $thin;
		font-size: 34pt;
		margin-top: 0;
		-webkit-font-smoothing: auto;
	}
}

.post-header {
	padding: 250px 30px 0 30px;
	color: #fff;

	height: 700px;
	text-align: center;

	.title, .title a {
		color: #fff;
		font: $black;
		font-size: 52pt;
		margin: 0;
	}

	.tagline {
		display: block;
		font: $bread;
		font-size: 26pt;
		max-width: 600px;
		margin: 30px auto;
	}
}

.single-post-navigation .navigation {
	background-color: transparent;
	// position: relative;

	&.sticky {
		background-color: #0b0e15;
	}
}

.navigation {
	background-color: #0b0e15;
	top: 0;
	height: 90px;
	position: absolute;
	width: 100%;
	z-index: 50;

	.navigation-inner {
		@include outer-container;
		padding: 0px 60px;
	}

	&.sticky {
		position: fixed;
		top: 0;
	}

	a {
		color: #fff;
		line-height: 90px;

		&.robocat img {
			display: inline-block;
			height: 46px;
			margin-top: 18px;
		}
	}

	.left, .right {
		height: 100%;
	}

	.left {
		float: left;
	}

	.right {
		float: right;

		.social {
			display: inline-block;
		}

		a {
			margin-right: 50px;
			font: $black;
			font-size: 14pt;
			line-height: 90px;

			&.twitter {
				margin-right: 20px;
			}

			&.facebook {
				margin-right: 0;
			}

			.no-touch &:hover, &.active {
				text-decoration: none;
				border-bottom: 2px solid #fff;
			}
		}
	}
}

@include media(max-height 900px) {
	.header-container .header {
		.cat {
			margin-top: 15%;
		}
	}
}

@include media(max-height 770px) {
	.header-container .header {
		background-position: 50% -80%;

		.cat {
			margin-top: 5%;
		}
	}
}



@include media(max-width 930px) {
	.navigation {
		.navigation-inner {
			padding: 0 20px;
		}

		.right a {
			margin-right: 30px;

			&.twitter { marin-right: 10px; }
		}
	}
}

@include media(max-width 750px) {
	.navigation {
		.navigation-inner {
			padding: 0 10px;
		}

		.left {
			display: none;
		}

		.right {
			float: none;
			width: 100%;
			text-align: center;
		}
	}
}

@include media(max-width 550px) {
	.post-header {
		height: 500px;
		padding-top: 150px;

		.title {
			font-size: 42pt;
		}

		.tagline {
			font-size: 22pt;
		}
	}

	.navigation {
		height: 85px;

		.navigation-inner {
			height: auto;
			padding: 0;

			.right {
				margin-top: 15px;

				a {
					line-height: 1.2em;
					margin: 5px;
					width: auto;

					&:first-child {
						margin-left: 0;
					}

					&:nth-child(3) {
						margin-right: 0;
					}
				}

				.social {
					display: block;
					margin-top: 10px;

					&:last-child {
						margin-right: 0;
					}

				}
			}
		}
	}
}

@include media(max-width 420px) {
	.post-header {
		height: 400px;
		padding-top: 100px;

		.title {
			font-size: 36pt;
		}

		.tagline {
			font-size: 18pt;
		}
	}

	.header-container .header {
		// background-position: center 100%;
		background-size: 440px 320px;
		background-position: 50% 0%;


		.cat {
			margin-top: 60px;
			max-width: 140px;
		}

		.title {
			font-size: 28pt;
		}

		.tagline {
			font-size: 20pt;
		}
	}

	.navigation {
		.navigation-inner {
			.right {
				padding: 0px;
			}
		}
	}
}

@media only screen and 
	(min-device-width: 320px) and 
	(max-device-width: 480px) and
	(-webkit-device-pixel-ratio: 2) and
	(device-aspect-ratio: 2/3) and
	(orientation: portrait ) {

	.header-container .header {
		// background-position: center 100%;
		background-size: 320px 241px;
		background-position: 50% 0%;


		.cat {
			margin-top: 30px;
			max-width: 120px;
		}

		.title {
			font-size: 22pt;
		}

		.tagline {
			font-size: 18pt;
		}
	}
}

@media only screen and 
	(min-device-width: 320px) and 
	(max-device-width: 480px) and
	(orientation: landscape ) {
		
	.header-container .header {
		// background-position: center 100%;
		background-size: 320px 241px;
		background-position: 50% -20%;


		.cat {
			margin-top: 30px;
			max-width: 90px;
		}

		.title {
			font-size: 22pt;
		}

		.tagline {
			font-size: 18pt;
		}
	}
}

// @include media(max-height 765px) {
// 	.header {
// 		.cat {
// 			max-width: 250px;
// 		}

// 		.title {
// 			font-size: 36pt;
// 		}

// 		.tagline {
// 			font-size: 30pt;
// 		}
// 	}
// }