.navigation-container {
	position: relative;
}

.header-container {
	background-size: cover;
	background-position: 50% 50%;
	background-color: #0b0e15;
	position: relative;

	.navigation {
		bottom: 0;
		position: absolute;
		top: auto;
	}
}

.header {
	background-image: image-url("header-background.jpg");
	background-repeat: no-repeat;
	background-position: center -15%;
	color: #fff;
	height: 100%;
	text-align: center;
	
	.cat {
		height: auto;
		max-width: 100%;
		margin-top: 15%;
	}

	.title {
		margin-bottom: 0;
	}

	.tagline {
		font: $thin;
		font-size: 34pt;
		margin-top: 0;
		-webkit-font-smoothing: auto;
	}
}

.post-header {
	padding-top: 250px;
	color: #fff;

	height: 700px;
	text-align: center;

	.title, .title a {
		color: #fff;
		font: $black;
		font-size: 52pt;
		margin: 0;
	}

	.tagline {
		display: block;
		font: $bread;
		font-size: 26pt;
		max-width: 600px;
		margin: 30px auto;
	}
}

.single-post-navigation .navigation {
	background-color: transparent;
	// position: relative;

	&.sticky {
		background-color: #0b0e15;
	}
}

.navigation {
	background-color: #0b0e15;
	top: 0;
	height: 90px;
	position: absolute;
	width: 100%;
	z-index: 50;

	.navigation-inner {
		@include outer-container;
		padding: 0px 60px;
	}

	&.sticky {
		position: fixed;
		top: 0;
	}

	a {
		color: #fff;
		line-height: 90px;

		&.robocat img {
			display: inline-block;
			height: 46px;
			margin-top: 18px;
		}
	}

	.left, .right {
		height: 100%;
	}

	.left {
		float: left;
	}

	.right {
		float: right;

		a {
			margin-right: 50px;
			font: $black;
			font-size: 14pt;
			line-height: 90px;

			&.twitter {
				margin-right: 20px;
			}

			&.facebook {
				margin-right: 0;
			}

			&:hover, &.active {
				text-decoration: none;
				border-bottom: 2px solid #fff;
			}
		}
	}
}

@include media(max-width 930px) {
	.navigation {
		.navigation-inner {
			padding: 0 20px;
		}

		.right a {
			margin-right: 30px;

			&.twitter { marin-right: 10px; }
		}
	}
}

@include media(max-width 750px) {
	.navigation {
		.navigation-inner {
			padding: 0 10px;
		}

		.left {
			display: none;
		}

		.right {
			float: none;
			width: 100%;
			text-align: center;
		}
	}
}

@include media(max-width 550px) {
	.navigation {
		height: 130px;

		.navigation-inner {
			height: auto;
			padding: 0;

			.right {
				padding: 0 60px;

				a {
					margin: 0;
					line-height: 1.2em;
					padding: 10px 0;

					@include span-columns(6 of 12);
					&:nth-child(2n) {
						@include omega;
					}
				}
			}
		}
	}
}

@include media(max-width 460px) {
	.header-container .header {
		background-position: center 100%;

		.cat {
			margin-top: 40px;
			max-width: 160px;
		}

		.title {
			font-size: 32pt;
		}

		.tagline {
			font-size: 24pt;
		}
	}

	.navigation {
		.navigation-inner {
			.right {
				padding: 0px;
			}
		}
	}
}

@include media(max-height 765px) {
	.header {
		.cat {
			max-width: 250px;
		}

		.title {
			font-size: 36pt;
		}

		.tagline {
			font-size: 30pt;
		}
	}
}